[Unit]
Description=Wasatch Photonics spectrometer Raspberry Pi gateway
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /home/pi/##########FILL WITH CORRECT PATH#######/RPi-Communication/gatewayController.py
WorkingDirectory=/home/pi/#############FILL WITH CORREC PATH###############/RPi-Communication/

[Install]
WantedBy=multi-user.target
